$red: #e53b2c;
$blue: #2196f3;

$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

body {
  overflow: hidden;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* button class */
.btn{
  background: $blue;
  color: #fff;
  padding: 0.5em;
  border-radius: 0.25em;
  border: 0;
}

.md-button:visited{
  color: #666;
}

.align-center{
  text-align: center;
}

.site-sidenav .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
  margin-top: 0.5em;
}

/*global layout elements */

.header-nav{
  float: left;

  .md-button{
    display: inline-block;
    margin-top: 2px;
  }
}

.header-profile{
  position: absolute;
  right: 1em;
  top: 0.5em;

  img{
    width: 2em;
    float: right;
  }

  .name{
    display: inline-block;
    font-size: 0.8em;
    float: right;
    margin-top: 0.7em;
    margin-left: 1em;
  }
}

.logo{
  width: 4em;
  margin-top: 0.6em;
  margin-left: auto;
  margin-right: auto;
  img{
    width: 100%;
  }
}

#close-sidenav{
  position: absolute;
  right: 0;
  top: 0.75em;
  width: auto;
  font-size: 0.8em;
}

.nav-hamburger{
  margin-right: 1em;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'account/logout/logout.scss';
@import 'admin/admin.scss';
@import 'chat/chat.scss';
@import 'chats/chats.scss';
@import 'details/details.scss';
@import 'dislike/dislike.scss';
@import 'like/like.scss';
@import 'maps/maps.scss';
@import 'matches/matches.scss';
@import 'pref/pref.scss';
// endinjector
