
<div layout="row" layout-align="center">
<div flex="55">
  <md-card class="matches-nav">
    <ul>
      <li class="{{matchesNav==='matches' ? 'active' : '' }}"><a href="/matches">Your <span class="num">{{matches.length}}</span> Matches</a></li>
      <li class="{{matchesNav==='like' ? 'active' : '' }}"><a href="/like">Your <span class="num">{{numLikes}}</span> Likes</a></li>
      <li class="{{matchesNav==='dislike' ? 'active' : '' }}"><a href="/dislike">Your <span class="num">{{numDislikes}}</span> Dislike{{numDislikes>1 ? 's' : ''}}</a></li>
    </ul>
  </md-card>
  <md-list>
    <md-item ng-repeat="item in matches">
      <md-content>
        <md-card class="match-item">
            <div class="match-hero" style="background-image: url('{{item.picture || 'http://lorempixel.com/640/300/people/'+item.name}}');" alt="Washed Out"></div>
            <md-card-content>
                <span ng-href="/details/{{item._id}}" class="match-name">{{item.name}}<img ng-if="item.dependents" class="dependents" src="/assets/images/dependents.png"><small class="dependents">Dependents</small></span>
                <span class="pull-right match-pricerange">Price Range: $ {{item.priceRange[0]}} - {{item.priceRange[1]}}</span>
                <br><br>
                <div like-dislike-buttons user="item"></div>

            </md-card-content>

        </md-card>
      </md-content>
    </md-item>
  </md-list>
</div>
</div>
<div layout="row" layout-align="center center" flex ng-if="matches.length === 0">
  <h3>No more matches found!</h3>
</div>

  <!-- <md-content>
    <md-list>
      <md-item ng-repeat="item in todos">
        <md-item-content>
          <div class="md-tile-left">
              <img ng-src="{{item.face}}" class="face" alt="{{item.who}}">
          </div>
          <div class="md-tile-content">
            <h3>{{item.what}}</h3>
            <h4>{{item.who}}</h4>
            <h4>{{item.age}}</h4>
            <h4>{{item.price_range}}</h4>
            <h4>{{item.gender_pref}}</h4>
            <h4>Prefered number of roomates: {{item.num_roommates}}</h4>

            <p>
              {{item.notes}}
            </p>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content> -->
