.match-button-wrapper{
  .trash-button{
    background-color: #999!important;
  }
}

.match-name{
  font-size: 1.5em;
  color: #666;
  font-weight: 200;
}

.match-pricerange{
  color: $blue;
  margin-top: 0.25em;
  display: inline-block;
}
