<div layout="row" layout-align="center center" flex ng-if="matches.length === 0">
  <h3>No more matches found!</h3>
</div>
<md-list>
    <md-item ng-repeat="item in matches">
        <md-content>
            <div layout="row" layout-align="center">
                <md-card>

                    <img src="{{item.picture || 'http://lorempixel.com/500/240/abstract/'+item.name}}" alt="Washed Out">
                    <md-card-content>
<!--                         <h2>{{item.what}}</h2> -->
                        <span ng-href="/details/{{item._id}}" class="match-name">{{item.name}}</span>
<!--                         <h4>Age: {{item.age}}</h4> -->
                        <span class="pull-right match-pricerange">Price Range: $ {{item.priceRange[0]}} - {{item.priceRange[1]}}</span>
                        <br><br>
<!--                         <h4>Gender Preference: {{item.gender_pref}}</h4>
                        <h4>Preferred number of roommates: {{item.num_roommates}}</h4>
                        <p>
                          {{item.notes}}
                        </p> -->
                        <!-- </br> -->
                        <div class="match-button-wrapper align-center">
                          <md-button ng-click="dislike(item)" class="md-fab trash-button pull-left" aria-label="Trash">
                            <md-icon icon="/assets/images/trash.png" style="width: 24px; height: 24px;"></md-icon>
                          </md-button>

                          <md-button ng-href="/details/{{item._id}}" aria-label="View">
                              read bio
                          </md-button>

                          <md-button ng-click="like(item)" class="pull-right md-fab" aria-label="Like">
                            <md-icon icon="/assets/images/check.png" style="width: 24px; height: 24px;"></md-icon>
                          </md-button>
                        </div>

                    </md-card-content>

                </md-card>
            </div>
        </md-content>
    </md-item>
</md-list>




  <!-- <md-content>
    <md-list>
      <md-item ng-repeat="item in todos">
        <md-item-content>
          <div class="md-tile-left">
              <img ng-src="{{item.face}}" class="face" alt="{{item.who}}">
          </div>
          <div class="md-tile-content">
            <h3>{{item.what}}</h3>
            <h4>{{item.who}}</h4>
            <h4>{{item.age}}</h4>
            <h4>{{item.price_range}}</h4>
            <h4>{{item.gender_pref}}</h4>
            <h4>Prefered number of roomates: {{item.num_roommates}}</h4>

            <p>
              {{item.notes}}
            </p>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content> -->
