.match-button-wrapper{
  position: relative;
  .trash-button{
    background-color: #999!important;
  }
}

.match-name{
  font-size: 1.5em;
  color: #666;
  font-weight: 200;
}

.match-pricerange{
  color: #999;
  margin-top: 0.25em;
  display: inline-block;
}

.info-button{
  position: absolute;
  left: 50%;
  margin-left: -1.5em;
  width: 3em;
  height: 3em;
  border: 1px solid #999;
  border-radius: 1.5em;
  text-decoration: none;
  top: 0.25em;
  &:hover{
    border-color: $blue;
    p{
      color: $blue;
    }
  }

  p{
    font-size: 1.25em;
    padding: 0;
    margin: 0;
    margin-top: 0.25em;
    color: #999;
    font-weight: 100;
    text-align: center;
  }
}

.matches-nav{
  overflow: hidden;
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      width: 33.33%;
      float: left;
      text-align: center;
      padding: 1em 0;
      &.active{
        background: $pink;
        a{
          color: #fff;
        }
      }
      a{
        text-decoration: none;
        color: #666;
        font-weight: 100;
        .num{
          font-weight: 600;
        }
      }
    }
  }
}

.match-item{
  overflow: hidden;
}

.match-hero{
  width: 100%;
  padding-top: 50%;
  background-size: cover;
  background-position: center;
}

img.dependents{
  height: 1em;
  width: auto;
  margin-left: 0.5em;
}

small.dependents{
  font-size: 0.5em;
  display: inline-block;
  margin-left: 0.5em;
}
