
<md-content>
<div layout="row" layout-align="center">
  <div flex="55" flex-md="100" flex-sm="100">
	<md-card>
		<div style="background-image: url('{{user.picture || 'http://lorempixel.com/640/300/people/'+user.name}}');" class="match-hero"></div>
    <md-card-content>
    <h1>{{user.name}}</h1>
    <small class="pull-right">Last seen {{moment(user.lastOnline).fromNow()}}.</small>
		<h4 ng-if="user.description">About</h4>
		<p>{{user.description}}</p>

		<h4>Roommate Preferences</h4>
    <p>
      {{user.gender}} <span ng-show="user.preferedGender"> looking for {{user.preferedGender}} roommates</span>.
      {{user.age}} years old <span ng-show="user.ageRange[0] || user.ageRange[1]"> looking for roommates between {{user.ageRange[0]}} and {{user.ageRange[1]}} years old</span>.</p>
    </p>


		<h3 >Rental Details</h3>
    <p>Looking to rent <span ng-show="user.priceRange[0] && user.priceRange[1]"> for ${{user.priceRange[0]}} - {{user.priceRange[1]}}</span> <span ng-show="user.preferedLocation"> in <a ng-href="https://www.google.com/maps?q={{user.preferedLocation}}">{{user.preferedLocation}}</a></span>.</p>

		<h4>Potential Roommates</h4>
		<ul class="no-space no-style">
      <li class="roommate-list" ng-repeat="x in Roommates">
        <div class="avatar pull-left" style="background-image: url('{{x.picture || '/assets/images/profile-placeholder-dk.png'}}')"></div>
  			<p>{{x.name}}<p>
      </li>
		</ul>

    <div like-dislike-buttons user="user"></div>

	  </md-card-content>

	</md-card>
  </div>

</div>
</md-content>
