<div layout="row" layout-align="center center" flex ng-if="likePeople.length === 0">
  <h3>No more matches found!</h3>
</div>

<div layout="row" layout-align="center">
  <div flex="55">
    <md-card class="matches-nav" ng-if="likePeople.length > 0">
      <ul>
        <li class="{{matchesNav==='matches' ? 'active' : '' }}"><a href="/matches">Your <span class="num">{{matches.length}}</span> Matches</a></li>
        <li class="{{matchesNav==='matches' ? 'like' : '' }}"><a href="/like">Your <span class="num">{{numLikes}}</span> Likes</a></li>
        <li class="{{matchesNav==='matches' ? 'dislike' : '' }}"><a href="/dislike">Your <span class="num">{{numDislikes}}</span> Dislike{{numDislikes>1 ? 's' : ''}}</a></li>
      </ul>
    </md-card>


    <md-list>
        <md-item ng-repeat="like in likePeople">
            <md-content>
              <md-card>
                <div class="match-hero" style="background-image: url('{{like.picture || 'http://lorempixel.com/640/300/people/'+like.name}}');" alt="Washed Out"></div>
                <md-card-content>
                  <span ng-href="/details/{{like._id}}" class="match-name">{{like.name}}</span>
                  <span class="pull-right match-pricerange">Price Range: $ {{like.priceRange[0]}} - {{like.priceRange[1]}}</span>
                  <br><br>
                  <div like-dislike-buttons user="like"></div>
                </md-card-content>
              </md-card>
            </md-content>
        </md-item>
    </md-list>
  </div>
</div>
