<div ng-include="'components/navbar/navbar.html'"></div>

<div layout-fill>
  <div layout="row" layout-align="center center">
    <md-card class="form md-whiteframe-z3 demo-container login-container" flex="100" flex-md="66" flex-gt-md="50">
      <div class="login-hero">
        <div class="overlay">
          <img src="assets/images/logo.png">
          <p>Find a roommate, lower your rent.</p>
        </div>
      </div>
      <md-card-content>
        <form class="form" name="form" ng-submit="register(form)" novalidate>

          <md-input-container class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                              'has-error': form.name.$invalid && submitted }">
            <label>Name</label>

            <input type="text" name="name" class="form-control" ng-model="user.name"
                   required/>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
              A name is required
            </p>
          </md-input-container>

          <md-input-container class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                              'has-error': form.email.$invalid && submitted }">
            <label>Email</label>

            <input type="email" name="email" class="form-control" ng-model="user.email"
                   required
                   mongoose-error/>
            <p class="help-block" ng-show="form.email.$error.email && submitted">
              Doesn't look like a valid email.
            </p>
            <p class="help-block" ng-show="form.email.$error.required && submitted">
              What's your email address?
            </p>
            <p class="help-block" ng-show="form.email.$error.mongoose">
              {{ errors.email }}
            </p>
          </md-input-container>

          <md-input-container class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                              'has-error': form.password.$invalid && submitted }">
            <label>Password</label>

            <input type="password" name="password" class="form-control" ng-model="user.password"
                   ng-minlength="3"
                   required
                   mongoose-error/>
            <p class="help-block"
               ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
              Password must be at least 3 characters.
            </p>
            <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.password }}
            </p>
          </md-input-container>

          <div>
            <md-button class="md-primary" type="submit">
              Sign up
            </md-button>
            <md-button href="/login">
              Login
            </md-button>
          </div>
          <br>
          <md-divider></md-divider>
          <br><br>
          <div class="login-buttons">
            <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')" flex-sm="99">
              <i class="fa fa-facebook"></i> Connect with Facebook
            </a>&nbsp;
            <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')" flex-sm="99">
              <i class="fa fa-google-plus"></i> Connect with Google+
            </a>&nbsp;
            <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')" flex-sm="99">
              <i class="fa fa-twitter"></i> Connect with Twitter
            </a>
          </div>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>
