<h3>Conversation between {{people}} <md-button class="pull-right" ng-click="showGridBottomSheet()">Add</md-button></h3>
<md-list flex class="scroll">
  <md-item ng-repeat="item in messages">
    <md-item-content>
      <div class="md-tile-left">
        <a ng-href="/details/{{item.id}}">
          <img ng-src="{{userDetails[item.id].picture || 'http://lorempixel.com/50/50/people/'+userDetails[item.id].name}}" class="face" alt="{{userDetails[item.id].name}}">
        </a>
      </div>
      <div class="md-tile-content">
        <h4><a ng-href="/details/{{item.id}}">{{userDetails[item.id].name}}</a> - {{moment(item.date).fromNow()}}</h4>
        <p>
          {{item.text}}
        </p>
      </div>
    </md-item-content>
  </md-item>
</md-list>
<form ng-submit="send()" class="chat-bar" layout="row">
  <md-input-container flex>
    <label>Say Hello!</label>
    <input ng-model="message" placeholder="Type a message">
  </md-input-container>
  <md-button ng-click="send()">Send</md-button>
</form>
