<div layout="row" layout-align="center center" flex ng-if="chats.length === 0">
  <h3>No recent conversations. :(</h3>
</div>
<md-list>
    <md-item ng-repeat="item in chats">
      <md-item-content>
        <div class="md-tile-left">
            <img ng-src="{{item.face || 'http://lorempixel.com/50/50/abstract/'+item.names }}" class="face" alt="{{item.who}}">
        </div>
        <div class="md-tile-content">
          <h3>{{item.names}}</h3>
          <h4>{{item.who}}</h4>
          <p>
            {{item.notes}}
          </p>
          <md-button ng-href="/chat/{{item._id}}">View Chat</md-button>
        </div>
      </md-item-content>
    </md-item>
  </md-list>
