<div layout="row" layout-align="center center" flex ng-if="chats.length === 0">
  <h3>No recent conversations. :(</h3>
</div>
<md-list>
    <md-item ng-repeat="item in chats">
      <md-item-content>
        <div class="md-tile-left">
            <img ng-src="{{item.face || 'http://lorempixel.com/50/50/abstract/'+item.names }}" class="face" alt="{{item.who}}">
        </div>
        <div class="md-tile-content">
          <h3>{{item.names}}</h3>
          <p>{{item.messages[item.messages.length-1].text}}</p>
        </div>
        <md-button class="pull-right btn" ng-href="/chat/{{item._id}}">View Chat</md-button>
      </md-item-content>
      <md-divider ng-if="!$last"></md-divider>
    </md-item>
  </md-list>
