
	<MD-INPUT-CONTAINER>
Please indicate your preferences for your ideal roomate!

	<div><label>Gender</label></div>

	<div>
	 		 <md-checkbox ng-model="data.cb2" aria-label="Female" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn">
	    		Female: {{ data.cb1 }}
	 		 </md-checkbox>

	 		  <md-checkbox ng-model="data.cb2" aria-label="Male" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn">
	    		Male: {{ data.cb2 }}
	 		 </md-checkbox>

	 		  <md-checkbox ng-model="data.cb2" aria-label="Doesn't Matter" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn">
	    		Doesn't Matter: {{ data.cb3 }}
	 		 </md-checkbox>

	</div>

	<div ng-app="app" ng-controller="DemoCtrl" layout="column">
	  <md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column">
	     
	<div><label>Where would you like to live?</label></div>

	  
	    <form name="userForm">
	      
	      <div layout layout-sm="column">
	        <md-input-container flex>
	          <label>First Name</label>
	          <input ng-model="user.firstName" placeholder="John">
	        </md-input-container>
	        <md-input-container flex>
	          <label>Last Name</label>
	          <input ng-model="user.lastName" placeholder="Apple">
	        </md-input-container>
	      </div>


		<md-input-container flex>
	        <label>Neighbourhood</label>
	        <input ng-model="user.neighourhood">
	      </md-input-container>
	      <md-input-container flex>
	        <label>Address</label>
	        <input ng-model="user.address">
	      </md-input-container>
	      <div layout layout-sm="column">
	        <md-input-container flex>
	          <label>City</label>
	          <input ng-model="user.city">
	        </md-input-container>
	        <md-input-container flex>
	          <label>State</label>
	          <input ng-model="user.state">
	        </md-input-container>
	        <md-input-container flex>
	          <label>Postal Code</label>
	          <input ng-model="user.postalCode">
	        </md-input-container>
	      </div>
	      <md-input-container flex>
	        <label>About your self</label>
	        <textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
	      </md-input-container>
	    </form>
	  </md-content>
	</div>
