
	<MD-INPUT-CONTAINER>
Please indicate your preferences for your ideal roomate!

	<div><label>Gender, not choosing will be considered "both"</label></div></br>

	<div>
	 		 <md-checkbox ng-model="user.prefFemale" aria-label="Female" class="md-warn">
	    		Female: {{ user.prefFemale }}
	 		 </md-checkbox>

	 		  <md-checkbox ng-model="user.prefMale" aria-label="Male" class="md-warn">
	    		Male: {{ user.prefMale }}
	 		 </md-checkbox>

	</div>

	      <div layout layout-sm="column">
	        <md-input-container flex>
	          <label>First Name</label>
	          <input ng-model="user.firstName" placeholder="John">
	        </md-input-container>
	        <md-input-container flex>
	          <label>Last Name</label>
	          <input ng-model="user.lastName" placeholder="Apple">
	        </md-input-container>
	      </div>

     	<div layout layout-sm="column">
	        <md-input-container flex>
	          <label>Min Price</label>
	          <input ng-model="user.minPrice" placeholder="ex. 0">
	        </md-input-container>
	        <md-input-container flex>
	          <label>Max Price</label>
	          <input ng-model="user.maxPrice" placeholder="ex. 5000">
	        </md-input-container>
	        <md-input-container flex>
	          <label>Roomates looking for</label>
	          <input ng-model="user.roomates" placeholder="ex. 5000">
	        </md-input-container>
	        <md-input-container flex>
	          <label>Age Prefered</label>
	          <input ng-model="user.agePref" placeholder="ex. 5000">
	        </md-input-container>
	      </div>

			<md-input-container flex>
	        <label>Neighbourhood</label>
	        <input ng-model="user.preferedLocation">
	      </md-input-container>
	      <md-input-container flex>
	        <label>About your self</label>
	        <textarea ng-model="user.description" columns="1" md-maxlength="150"></textarea>
	      </md-input-container>
    <section layout="row" layout-sm="column" layout-align="center center">
      <span><md-button ng-click="save()">Submit</md-button></span>
    </section>
